body{
  background-color: #41FFF2;
}

h1{
  font-family: 'Monoton', Arial, sans-serif;
  font-size: 72px;
  background-color: #FFBDAE;
  color: #065599;
  text-align: center;
  max-width: 1000px;
}

h2{
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}
@media (max-width: 1000px) {
  h3{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }
}


h4{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

p{
  padding-left: 100px;
  padding-right: 100px;
}

.footer a:link {
text-decoration: none;
background-color: white;
text-align: center;
display:block;
padding: 4px;
}


.container{
  display: flex;
  flex-direction: column;
  justify-content: Space-between;
  align-items: center;
}

a:link{
  text-decoration: none;
}

.gridcontainer{
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  grid-template-areas:
  "i"
  "a"
  "d"
  "e"
  "g"
  "h"
  "b"
  "c"
}
@media (min-width:600px){
  .gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
    "i i i i"
    "a a b b"
    "d e b b"
    "g h c c"
  }
  .item9{
    grid-area:i;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width:1000px){
  .gridcontainer{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "i i i i i"
    "a a b b b"
    "d e b b b"
    "g h c c f"
  }
  h1{
    margin: 20px auto;

  }
h3{
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  }
}

.griditem{
  justify-content: center;
}

.item1{
  grid-area:a;
  text-align: center;
  background-color:#065599;
  color:#41FFF2;
}
.item2{
  grid-area:b;
  padding: 10px 10px;
  background-color:#065599;
  color:#41FFF2;
}
.item3{
  grid-area:c;
  color:#065599;
  text-align: center;
}
.item4{
  grid-area:d;
  background-image:url("tyler.jpg");
  background-size: cover;
  text-align: center;
}
.item5{
  grid-area:e;
  background-image:url("me.jpg");
  background-size: cover;
  text-align: center;
}
.item7{
  grid-area:g;
  background-image:url("david.jpg");
  background-size: cover;
  text-align: center;
}
.item8{
  grid-area:h;
  background-image:url("constantine.jpg");
  background-size: cover;
  text-align: center;
}
@media (max-width:600px){
/*  .item9{
    grid-area:i;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }*/
  .item{
    display:none;
  }
}

.face{
  color:#41FFF2;
  min-height: 100px;
}
.item{
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  background-color:#065599;
  color:#41FFF2;
  margin-bottom: 15px;
}

.item a:link{
  color:#41FFF2;
}
.item a:link a:visited{
  color:#B29124;
}
.item a:hover{
  color:#065599;
}
.menu1{
  margin-right: 15px;
}
.menu2{
  margin-right:15px;
}

/* Coriander color B29124 ; Tan color FFE9A3 ; Light yellow FFD54D
Deep blue 4F5DB2 ; Light blue 9BAAFFbackground-color: #065599; */
